@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
    --code-font: 'Jetbrains Mono';
}

code, kbd, .toc, .badge {
  font-family: var(--code-font) !important;
}

.toc {
    font-family: "Source Code Pro" !important;
}
